.navbar-brand {
  color: #2256a5;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

a {
  color: black;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}

a:hover, a:active {
    color: black;
}